*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: #21243D; 
}
header{
    padding-bottom: 70px;
}
.container{
    max-width: 860px;
    margin: 0 auto;
}
h1{
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    font-style: normal;
}
h2{
    font-size: 22px;
    line-height: 60px;
    font-weight: normal;
}
h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 15px;
}
h4{
    margin: 0;
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 30px;
}
p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.menu{
    display: flex;
    justify-content: flex-end;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 45px;
    margin-bottom: 100px;
}
.menu a{
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: #FF6464;
    transition: all ease-in-out 200ms;
}
.work a{
    text-decoration: none;
    color: #142850;
}
.work a:hover{
    color: #FF6464;
}
.about-user{
    display: flex;
    justify-content: space-between;
    border-top: 34px solid #C4C4C4;;
}
.about-user div{
    width: auto;
}
.about-user img{
    width: 243px;
    height: 243px;
}
.btn{
    background: #FF6464;
    border-radius: 2px;
    border: none;
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 35px;
}

/* SECTION POSTS*/ 
.blocks-posts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.section-posts{
    background: #EDF7FA;
    padding-bottom: 15px;
    padding-top: 10px;
}
.section-posts h2{
    margin: 0;
}
.blocks-posts .post{
    max-width: 420px;
    border-radius: 4px;
    background-color: white;
    padding: 25px;
    margin-bottom: 15px;
}
.blocks-posts span{
    font-size: 18px;
    color: #21243D;
    padding-right: 30px;
}
 /* FEATURED-WORKS */
.featured-works{

}
.work{
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
}
.work img{
    border-radius: 6px;
    width: 250px;
    height: 200px;
    margin-right: 18px;
}
.work h3{
    margin-top: 0;
}
.bage{
    background: #142850;
    color: white;
    font-size: 18px;
    border-radius: 16px;
    padding: 0px 10px;
}
.work p{
    margin-top: 25px;
}

/*  BLOG  PAGE  */
.topic{
    color: #8695A4;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    padding-left: 25px;

}
.data{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    border-right: 1px solid black;
    padding-right: 25px;
}

.post{
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 30px;
}

.post p{
    margin-top: 15px;
}

/* ARTICLE PaGE */
.article-page .container{
    max-width: 680px;
}
.article-page h1{
    font-size: 34px;
    max-width: 500px;
}
.article-page h2{
    font-size: 30px;
    font-weight: 700;
}
.article-page h3{
    font-size: 24px;
    font-weight: 700;
}
.article-page img{
    width: 100%;
    margin-bottom: 27px;
}
.article-badge{
    background-color: #FF7C7C;
    color: white;
    border-radius: 16px;
    font-size: 18px;
    font-weight: 700;
    padding: 0 10px;
    margin-right: 17px;
    margin-bottom: 25px;
    display: inline-block;
}
.article-topic{
    font-size: 20px;
}

/* FOOTER */

footer{
    text-align: center;
    padding: 30px 0;
}
footer p{
    font-size: 14px;
}
.socials{
    max-width: 230px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 100px;
}
.socials a{
    width: 30px;
    height: 30px;
}
.icon{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.lnkdn{
    background-image: url('images/Linkedin\ \(1\).svg');
}
.inst{
    background-image: url('images/insta\ \(1\).svg');
}
.fb{
    background-image: url('images/fb\ \(2\).svg');
}
.tw{
    background-image: url('images/Vector\ \(2\).svg');
}
/**/

@media(max-width: 768px){
     /* WORK PAGE */
    header{
        padding-bottom: 60px;
    }
    .menu a{
        font-size: 14px;
    }
    .about-user{
        flex-direction: column;
        align-items: center;
        border: none;
    }
    .about-user div{
        order: 1;
        text-align: center;
    }
    .about-user img{
        width: 180px;
        height: 180px;
        margin-bottom: 50px;
        box-shadow: -3px 5px 0 #EDF7FA;
        border-radius: 50%;
    }
    h1{
        font-size: 32px;
        line-height: 40px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
    /* BLOG PAGE */
    h3{
        font-size: 26px;
    }
    .date{
        font-size: 16px;
        padding-right: 15px;

    }
    .topic{
        font-size: 16px;
        padding-left: 15px;
    }
    .container{
        padding: 0 18px;
    }
    
    /* featured- works*/
    .featured-works{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2{
        text-align: center;
    }   
    .work{
        flex-direction: column;
        width: 345px;
    }
    .work img{
       width: 100%;
       margin-bottom: 10px;
    }
    .works-page h3{
        font-size: 24px;
    }

    /* ARTICLE-PAGE */
    .article-page h1{
       font-size: 30px;
    }
    .article-page h2{
        font-size: 26px;
        text-align: left;
    }
    .article-page h3{
       font-size: 20px;
    }
    .article-topic{
        font-size: 18px;
    }

    /* SECTION-POSTS*/
    .blocks-posts span{
        font-size: 16px; 
    }
    h4{
        font-size: 22px;
    }

}